*{
    margin: 0;
    padding: 0;

}
#div{
    width : 100px;
    height : 100px;
    background-color : red;
    border: 2px solid black;
    position: absolute;
    left: 50px;
    top: 50px;
}

.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}
